#menu {
  width: 100%;
  max-width: 1440px;
  height: auto;
  padding: 20px 40px;
  margin: auto;
}

.menuTitle {
  margin-bottom: 100px;
  text-align: center;
  line-height: 50px;
}

.menuTitle h4 {
  color: #eeb528;
  letter-spacing: 5px;
}

.menuTitle h2 {
  font-size: 40px;
}

.showMoreContainer {
  text-align: center;
}

.showMoreContainer button {
  padding: 10px 20px;
  border-radius: 15px;
  margin-bottom: 60px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

.showMoreContainer button:hover {
  background-color: #eeb528;
  color: white;
}

.foodContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}

.foodCard {
  height: 350px;
  width: 250px;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  line-height: 40px;
}

.foodCard:hover {
  border: 3px solid #eeb528;
}

.foodCard img {
  height: 150px;
  width: auto;
}

.foodCard h4 {
  font-size: 23px;
}

.foodCard h5 {
  font-size: 23px;
  font-weight: bold;
  color: #eeb528;
}

.shopping {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.shopCount {
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.shopCount p {
  font-size: 22px;
}

.toCart {
  padding: 5px 6px;
  background-color: #eeb528;
  border-radius: 20px;
}

.alert {
  position: fixed;
  bottom: 50px;
  left: 50px;
  width: 500px;
  height: 50px;
}

.MuiAlert-message {
  background-color: rgb(10, 122, 10);
  color: white;
}

.MuiAlert-icon {
  background-color: rgb(10, 122, 10);
  color: rgb(10, 122, 10);
}

.filteringOptions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}

.filteringOptions button {
  padding: 10px 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 18px;
  font-weight: bold;
}

.filteringOptions button:hover {
  background-color: #eeb528;
}

@media (max-width: 660px) {
  .filteringOptions {
    justify-content: flex-start;
  }

  .menuTitle {
    margin-bottom: 50px;
  }

  .filterButton {
    padding: 5px 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    cursor: pointer;
  }

  .filterButton:hover {
    background-color: #eeb528;
  }

  .smallFilter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }

  .filteringOptions button {
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: none;
    font-size: 16px;
    font-weight: bold;
  }

  .filteringOptions button:hover {
    background-color: #eeb528;
  }

  .foodCard {
    height: auto;
  }
}
